<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="individualMapper">
	
	<select id="getCount" parameterType="map" resultType="TraceVO">
		SELECT (SELECT COUNT(*) from tracetbl where trace_code = '001' AND trace_user = #{trace_user} ) as writecount,
	   (select count(*) from tracetbl where trace_code = '002' AND trace_user = #{trace_user}) as editcount,
       (select count(*) from tracetbl where trace_code = '003' AND trace_user = #{trace_user}) as deletecount,
       (select count(*) from tracetbl where trace_code = '004' AND trace_user = #{trace_user}) as replycount,
       (select count(*) from tracetbl where trace_code = '005' AND trace_user = #{trace_user}) as signoutcount;
	</select>
	
</mapper>